.container {
  position: fixed;
  top:0px;
  left:350px;
  font-size: 17px;
  word-wrap: break-word;
  text-align: justify;
  padding: 30px 30px 30px 30px;
  width: 700px;
  height: 800px;
  border:1px solid black;
  background-image: url(https://bit.ly/2Fc1nZn);
}

table {
  position: relative;
  top:0px;
  left:150px;
  padding: 20px;
  border-spacing: 50px 0px;
  border-radius: 25px;
}

td {
  padding: 10px 0;
}

input {
  width: 230px;
  height: 30px;
  font-size: 15px;
  border-radius: 15px;
  position: relative;
  margin-top:15px;
}

select, textarea, button {
  margin-top:15px;
  border-radius: 5px;
}
button {
  font-size: 17px;
  width: 150px;
}
select {
  font-size: 17px;
  width: 150px;
  height: 50px;
}

textarea {
  font-size: 15px;
  width: 230px;
  height:130px;
}

body {
  color :white;
}
